{% extends "layout.html" %}
{% block body %}
<div class="container-full">

    <div class="row">

        <div class="col-lg-12 text-center v-center">

            <h1>URL SHORTER</h1>

            <p class="lead">A Short Url Generator Based on Flask</p>

            <br><br><br>

            <form class="col-lg-12">
                <div class="input-group" style="width:540px;text-align:center;margin:0 auto;">
                    <span class="input-group-addon">http://</span>
                    <input id="input-url" class="form-control input-lg"
                           placeholder="Enter your url" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-lg btn-primary" type="button" id="gen-button">GO</button>
                    </span>
                </div>
            </form>

            <br><br>

            <a id="res" href="#" target="_blank"></a>
        </div>
    </div>
</div> <!-- /container full -->

    <div class="container">
    <div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right">
              <a href="http://www.bootply.com" target="_blank">Template from Bootply</a>.
              &nbsp; powered by
              <a href="http://flask.pocoo.org/" target="_blank">Flask</a>
              and
              <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>.
          </p>
        <br><br>
        </div>
    </div>
    </div>
{% endblock %}